{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'plataforma/css/home.css' %}">
{% endblock  %}

{% block 'body' %}

<div class="container">
    </br>
    </br>
    <h2 style="display: flex;width: 100%;justify-content: center;">Chave PIX</h2>
    <h3 style="display: flex;width: 100%;justify-content: center;">{{conta.chave_pix}}</h3>
    </br>    
    <div class="text-center">
        <button class="btn_agendar" type="button" >Copiar Código</button>
    </div>
    </br>
    <h2 style="display: flex;width: 100%;justify-content: center;">Ou aponte a câmera do celular para o QR Code:</h2>
        <div class="row marcador align-items-center">
            <div class="col">
                <div style="display: flex;width: 100%;justify-content: center;">
                    <img class="img-fluid" src="/media/{{conta.qrCode}}">
                </div>
            </div>
        </div>
    </br>
    </br>
    </br>
    </div>
{% endblock %}